@model SilverSolutions1151.Data.Entity.ProductionReport

@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    
       <table>
           <tr>
               <td>Date:</td>
               <td>
                   <label asp-for="SearchDate" class="control-label"></label>
                <input asp-for="SearchDate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
               </td>
               <td>
                <input type="submit" value="Search" />
               </td>
           </tr>
       </table>
        
   
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OpeningBalance" class="control-label">Raw Tobacco Leaves</label>
                <input asp-for="OpeningBalance" class="form-control" id="OpeningBalanceLabel" readonly="readonly" />
            </div>

            <div class="form-group">
                <label asp-for="InProgress" class="control-label">Mixed Tobacco in process</label>
                <input asp-for="InProgress" class="form-control" readonly="readonly"/>
                <span asp-validation-for="InProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadyStockk" class="control-label">Ready Stock</label>
                <input asp-for="ReadyStockk" class="form-control" readonly="readonly" />
                <span asp-validation-for="ReadyStockk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Packing" class="control-label">Packaging</label>
                <input asp-for="Packing" class="form-control" readonly="readonly" />
                <span asp-validation-for="Packing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sold" class="control-label">Total Sales</label>
                <input asp-for="Sold" class="form-control" readonly="readonly" />
                <span asp-validation-for="Sold" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

