@model SilverSolutions1151.Models.InvoiceTotals
<style>
    .BorderLess {
        border: none;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row mb-4">
                <div class="col-sm-7">
                    <h1 class="font-weight-bold">Silver&nbsp;Solutions&nbsp;1151&nbsp;cc</h1>
                    <p class="font-weight-medium text-center">Manufacturer of Molases tobacco</p>
                </div>
                <div class="col-sm-5 text-right">
                    <img src="~/svgs/logo.webp" alt="Logo" class="img-fluid">
                    <p class="font-weight-light">The original taste of hookah</p>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div>
                        <strong>From:</strong>
                    </div>
                    <div>
                        Silver Solutions 1151 cc
                    </div>
                    <div>Unit 9</div>
                    <div>7 Chrysenthemum Street</div>
                    <div>Ext 6 Lenasia</div>
                    <div>Phone:+27 72 480 6944 </div>
                    <div>Income Tax No: 9830690146 </div>
                    <div>V.A.T Reg No: 4110262203 </div>
                </div>

                <div class="col-sm-6">
                    <div class="float-right">
                        <div>
                            <label asp-for="Invoice.InvoiceNumber" class="control-label">Invoice #:</label>
                            <input asp-for="Invoice.InvoiceNumber" class="BorderLess" readonly="readonly" />
                        </div>
                        <div>
                            <label asp-for="Invoice.InvoiceDate" class="control-label">Invoice Date:</label>
                            <input asp-for="Invoice.InvoiceDate" class="BorderLess" readonly="readonly" />
                        </div>
                        <div>
                            <label asp-for="Invoice.CustomerName" class="control-label">Bill To</label>
                        </div>
                        <div>
                            <input asp-for="Invoice.CustomerName" class="BorderLess" readonly="readonly" />
                        </div>
                        <div>
                            <textarea class="BorderLess" asp-for="Invoice.CustomerAddress" readonly="readonly"></textarea>
                        </div>
                        <div>
                            <input class="BorderLess" asp-for="Invoice.CustomerPhone" type="number" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="right">Unit Price</th>
                            <th clas="centre">Packaging Size(g)</th>
                            <th class="center">Quantity</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Invoice.InvoiceItems.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input asp-for="Invoice.InvoiceItems[i].Description" class="form-control" readonly="readonly" />
                                </td>
                                <td class="text-center">
                                    <input asp-for="Invoice.InvoiceItems[i].Price" class="form-control" readonly="readonly" />
                                </td>
                                <td class="text-right">
                                    <input asp-for="Invoice.InvoiceItems[i].Weight" class="form-control" readonly="readonly" />
                                </td>
                                <td class="text-center">
                                    <input asp-for="Invoice.InvoiceItems[i].Quantity" class="form-control" readonly="readonly" />
                                </td>
                                <td class="text-right">
                                    <input asp-for="Invoice.InvoiceItems[i].TotalPrice" class="form-control" readonly="readonly" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row mb-4">
                <div class="col-sm-6">
                    <div>
                        <strong>Banking Details:</strong>
                    </div>
                    <div>Bank Name:FNB</div>
                    <div>Account Name:Silver Solutions 1151</div>
                    <div>Account Number:62356204603</div>
                    <div>Branch Code:250-737</div>
                    <div>Account Type:Business Account</div>

                </div>

                <div class="col-sm-6">
                    <div class="float-right">
                        <div>
                            <label asp-for="SubTotal" class="control-label"></label>
                            <input asp-for="SubTotal" class="BorderLess" readonly="readonly" />
                        </div>
                        <div>
                            <label asp-for="VatPercentage" class="control-label">Vat%</label>
                            <input asp-for="VatPercentage" class="BorderLess" readonly="readonly" />
                        </div>
                        <div>
                            <label asp-for="VatTotal" class="control-label">Vat Amount</label>
                            <input asp-for="VatTotal" class="BorderLess" readonly="readonly" />
                        </div>
                        <div>
                            <label asp-for="Total" class="control-label">Total</label>
                            <input asp-for="Total" class="BorderLess" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
