<!DOCTYPE html>
<html lang="en" ng-app="myApp">
@RenderSection("Header", false)
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SilverSolutions1151</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SilverSolutions1151.styles.css" asp-append-version="true" />
    <link href="~/Template/SilverSolutions1151/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/Template/SilverSolutions1151/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/Template/SilverSolutions1151/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
</head>
<body>
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Silver Solutions <sup>1151</sup></div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
           
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span>
                </button>
                <div class="collapse" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-controller="Home" asp-action="Index" class="link-light d-inline-flex text-decoration-none rounded">Dashboard</a></li>
                    </ul>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#management-collapse" aria-expanded="false">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Management</span>
                </button>
                <div class="collapse" id="management-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-controller="Categories" asp-action="Index" class="link-light d-inline-flex text-decoration-none rounded">Categories</a></li>
                        <li><a asp-controller="Packaging" asp-action="Index" class="link-light d-inline-flex text-decoration-none rounded">Packaging</a></li>
                        <li><a asp-controller="ProductTypes" asp-action="Index" class="link-light d-inline-flex text-decoration-none rounded">Product Type</a></li>
                        <li><a asp-controller="Ingredients" asp-action="Index" class="link-light d-inline-flex text-decoration-none rounded">Ingredients</a></li>
                        <li><a asp-controller="Products" asp-action="Index" class="link-light d-inline-flex text-decoration-none rounded">Products</a></li>
                    </ul>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#manufacturing-collapse" aria-expanded="false">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Manufacturing</span>
                </button>
                <div class="collapse" id="manufacturing-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-controller="ManufacturingStage" asp-action="Index" class="link-light d-inline-flex text-decoration-none rounded">Production Line</a></li>
                    </ul>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#invoicing-collapse" aria-expanded="false">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Sales</span>
                </button>
                <div class="collapse" id="invoicing-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-controller="CustomerInvoices" asp-action="Index" class="link-light d-inline-flex text-decoration-none rounded">View Invoices</a></li>
                    </ul>
                </div>
                <div class="collapse" id="invoicing-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-controller="CustomerInvoices" asp-action="Create" class="link-light d-inline-flex text-decoration-none rounded">Create Invoice</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true" ></script>
    <script src="~/template/silversolutions1151/js/sb-admin-2.js" asp-append-version="true"></script>
    <script src="~/template/silversolutions1151/js/sb-admin-2.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
